<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<title>Pharma C</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-inverse">
			<a href="/" class="navbar-brand"></a>
			<ul class="nav navbar-nav">
				<li><a class="nav-item nav-link"  href="/">Home</a></li>
				<li><a class="nav-item nav-link"  href="/inventory">Inventory</a></li>
				<li><a class="nav-item nav-link"  href="/customer_history">Customer History</a></li>
			</ul>
		</nav>
    </header>
    
    <!--MAIN CONTENT HERE-->
    <%- defineContent('hero') %>

    <footer>	
            <!--  NEED TO WRTE, DO NOT DEPLOY  -->
            Coolio Julio Site.
        </footer>
</body>
    </html>