<%- contentFor('scripts') %>
<script src="/js/makingPrescription.js"></script>

<%- contentFor('hero') %>

<section class="hero">
	<div class="hero-content">
		<h2><span>Create a ticket for a client</span></h2>
	</div>
</section>

<main>
    <div class="container">
		<div class="jumbotron text-center" id="Username">
		</div>
	</div>


</main>

	
