<%- contentFor('scripts') %>
<script src="/js/codeForEmployees.js"></script>

<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2><span>Employees</span></h2>
		<p> <span>Staff review</span></p>
	<!--
        <a href="/inventory" class="btn btn-lg btn-primary">Check Stock</a>
		<a href="/customer_history" class="btn btn-lg btn-primary">See History</a>
	-->
</div>
</section>

<main>

	<div class = "text-center">    
        <button onclick="fillTable()" class="btn btn-lg btn-primary">Display Info</button>
        <!--<p align="center"></br>Here we will display information of current selected type a pharmacutical</br></br></p>-->
    </div>

	<div class="container">
		<div class="jumbotron text-center">
			You are currently logged in as a user
		</div>
		<p align = "center">Scroll down to see the staff and their information</p>
	</div>



	<table class="table" align="center" id="employeeTable">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Employee ID</th>
				<th scope="col">Name</th>
				<th scope="col">Access Level</th>
				<th scope="col">Supervisor ID</th>
			</tr>
		</thead>
		<tbody>

			<div id="theTableCode">

			</div>
<!-- 
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
			</tr> -->

		</tbody>
	</table>

<!-- 	<script>
		

		var r = new Array(), j = -1;
		for (var key=0, size=data.length; key<size; key++){
			r[++j] ='<tr><td>';
			r[++j] = data[key][0];
			r[++j] = '</td><td class="whatever1">';
			r[++j] = data[key][1];
			r[++j] = '</td><td class="whatever2">';
			r[++j] = data[key][2];
			r[++j] = '</td></tr>';
		}
		$('#employeeTable').html(r.join(''));
	</script> -->

</main>