<%- contentFor('hero') %>

<section class="hero">
	<div class="hero-content">
		<h2><span>Welcome to the site!</span></h2>
		<p id="subtitle"><span>What would you like to do?</span></p>
        <a href="/inventory" class="btn btn-lg btn-primary">Check Stock</a>
		<a href="/client_list" class="btn btn-lg btn-primary">See Clients</a>
	</div>
</section>

<main>
    <div class="container">
		<div class="jumbotron text-center">
		You are currently logged in as a user
		</div>
	</div>


</main>

	
