<%- contentFor('scripts') %>
<!--External JS Files-->
<script src="/js/codeForInventory.js"></script>
<script>
$("$1").click(extractInfo());
</script>

<%- contentFor('hero') %>



<!--Attemp to format one big document.write()-->
<script>
    function bigWrite(){
        var result = extractInfo();
        document.open();
        document.write("<p>" +"Yeet"+ "</br><p>");
        document.close();
    }
</script>

<!--WHY NOT JUST DISPLAY BOTH DRUG NAME AND INFO AT SAME TIME???? if so do above bigWrite()-->

<!--Actual start of html code-->
<section class="hero">
    <div class="hero-content">
        <h2><span>Inventory</span></h2>
        <p><span>Drugs Categorized by Clearance level</span></p>
        <!--<a href="javascript:newEntry()" class="btn btn-lg btn-primary">Add + </a>-->
    </div>
</section>
    
<main>
    <p align = "center">TYPE A</p>
    <p id="info" align="center">Here we will display information of current selected type a pharmacutical</br></br></p>
    <div class="container">
        <div class="text-center">
            <a id ="1" class="btn btn-primary" href="/js/queryName.js">End me</button>
            
        </div>
    </div>>
</main>
    
