<%- contentFor('hero') %>

<!--External JS Files-->
<script src="/js/codeForInventory.js"></script>

<!--Display information of drugs-->
<script>
    function display(id){
        //document.getElementById(id).innerHTML = "Aspirin: Good for head oucho boi";
       alert("BOI");
    }
</script>

<!--Attempt to make an array of buttons like for GUI-->
<script>
    var listBrand =['LEXUS','AUDI','MAYBACK','FERRARI','TOYOTA'];   
    //the array
    function printBtn() {
        for (var i = 0; i < listBrand.length; i++) {
            var btn = document.createElement("button");
            var t = document.createTextNode(listBrand[i]);
            btn.appendChild(t);
            document.body.appendChild(btn);
        }
    }
</script>  

<!--Attemp to format one big document.write()-->
<script>
    function bigWrite(){
        document.open();
        document.write("<p>Out with the old - in with the new!</br></p>" +
        "<p>"+"if this works should be on new line" +"</br><p>");
        document.close();
    }
</script>

<!--WHY NOT JUST DISPLAY BOTH DRUG NAME AND INFO AT SAME TIME???? if so do above bigWrite()-->

<!--Actual start of html code-->
<section class="hero">
    <div class="hero-content">
        <h2>Inventory</h2>
        <p>Drugs Categorized by Clearance level</p>
        <a href="javascript:newEntry()" class="btn btn-lg btn-primary">Add + </a>
    </div>
</section>
    
<main>
    <p align = "center">TYPE A</p>
    <p id="info" align="center">Here we will display information of current selected type a pharmacutical</br></br></p>
    <div class="container">
        <div class="text-center">
            <button onclick="displayText()">End me</button>
        </div>
    </div>>
</main>
    
