<%- contentFor('scripts') %>
<!--External JS Files-->
<script src="/js/codeForInventory.js"></script>

<%- contentFor('hero') %>

<!--Actual start of html code-->
<section class="hero">
    <div class="hero-content">
        <h2><span>Inventory</span></h2>
        <p><span>Drugs Categorized by Clearance level</span></p>
    </div>
</section>
    
<main>
    <div class = "text-center">    
        <button onclick="extractInfo()" class="btn btn-lg btn-primary">Display Info</button>
        <!--<p align="center"></br>Here we will display information of current selected type a pharmacutical</br></br></p>-->
    </div>
    <div class="container">
        <div class="text-center">
            <h1 align = "center">TYPE A</h1>
            <p id="typea"></p>
            <h1 align = "center">TYPE B</h1>
            <p id="typeb"></p>
            <h1 align = "center">TYPE C</h1>
            <p id="typec"></p>
        </div>
    </div>>
</main>
    
